---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: kube-prometheus-stack
  namespace: monitoring
spec:
  interval: 1h
  timeout: 5m
  chart:
    spec:
      chart: kube-prometheus-stack
      version: '79.5.0'
      sourceRef:
        kind: HelmRepository
        name: prometheus
        namespace: monitoring
      interval: 5m
  releaseName: kube-prometheus-stack
---
apiVersion: traefik.io/v1alpha1
kind: IngressRoute
metadata:
  name: grafana
  namespace: monitoring
spec:
  entryPoints:
    - web
  routes:
    - match: Host(`grafana.phoenix.dopolytech.fr`)
      kind: Rule
      services:
        - name: kube-prometheus-stack-grafana
          port: 80
